# ==============================================================================
# Mihomo Base Configuration
# ==============================================================================

# General Settings
mode: rule
mixed-port: __PORT__
log-level: info
ipv6: true
allow-lan: true
tcp-concurrent: true
unified-delay: true
external-controller: 127.0.0.1:__CONTROLLER_PORT__
secret: __SECRET__

# Profile Settings
profile:
  store-selected: true

# DNS Configuration
dns:
  enable: true
  ipv6: true
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter:
    - '*.lan'
    - '*.local'
  default-nameserver:
    - 223.5.5.5
    - 8.8.8.8
  nameserver:
    - https://doh.pub/dns-query
    - https://dns.alidns.com/dns-query
  fallback:
    - https://dns.google/dns-query
    - https://cloudflare-dns.com/dns-query
  fallback-filter:
    geoip: true
    geoip-code: CN
  prefer-h3: true
